* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container {
  background-image: linear-gradient(140deg, #19145e 0%, #39338d 50%, #655ec2 100%);
  background-color: #39338D; }

.hero-container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px; }

.content-container {
  width: 90%;
  margin: 0 auto; }

.logo-mobile {
  width: 70px;
  margin-top: 25px;
  position: absolute; }

.logo-desktop {
  display: none; }

.nav-desktop {
  display: none; }

.nav-mobile {
  float: right;
  margin-top: 23px; }

.nav-mobile li,
.nav-desktop li {
  list-style: none;
  display: inline;
  margin-left: 10px; }

li img {
  width: 17px; }

.nav-fb {
  width: 9px; }

.hero-image-container {
  min-width: 200px;
  max-width: 40%;
  margin: 0 auto; }

.hero-image {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 50px; }

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  min-width: 250px;
  max-width: 400px;
  margin-bottom: 13px;
  color: #070439; }

.content-container p {
  max-width: 400px;
  margin-bottom: 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: gray; }

.content-container h2 {
  margin-bottom: 13px;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  color: #070439; }

.input-email {
  width: 100%;
  max-width: 350px;
  height: 40px;
  padding-left: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-border-radius: none;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

.submit-button {
  width: 120px;
  height: 40px;
  background-color: #05d69b;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-border-radius: none;
  -webkit-box-shadow: 0.5px 2px 1px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0.5px 2px 1px 0 rgba(0, 0, 0, 0.2); }

#policy {
  max-width: 400px;
  margin-top: 75px;
  text-align: right;
  font-size: 12px;
  color: #070439; }

footer .attribution {
  font-size: 12px; }

@media only screen and (min-width: 500px) {
  .container-2 {
    width: 400px;
    margin: 0 auto; }
  h1 {
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 22px; }
  .content-container p {
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 17px; }
  .content-container h2 {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 13px;
    font-size: 14px; }
  form {
    margin: 0 auto; }
  .input-email {
    max-width: 500px;
    margin-bottom: 20px; }
  #policy {
    margin-top: 80px; }
  footer .attribution {
    font-size: 12px; } }

@media only screen and (min-width: 1000px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .container {
    width: 50%; }
  .content-container {
    width: 50%; }
  .container-2 {
    width: 70%;
    margin: 0 auto; }
  .logo-mobile {
    display: none; }
  .logo-desktop {
    display: inline-block;
    width: 100px;
    margin-top: 30px; }
  .desktop-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 530px; }
  .nav-mobile {
    display: none; }
  .hero-image-container {
    padding-top: 210px;
    max-width: 400px; }
  .nav-desktop {
    width: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  h1 {
    max-width: 500px;
    margin: 0;
    margin-top: 250px;
    margin-bottom: 25px;
    font-size: 32px; }
  .content-container p {
    max-width: 430px;
    margin: 0;
    margin-bottom: 50px;
    font-size: 17.2px; }
  .content-container h2 {
    margin: 0;
    margin-bottom: 18px;
    font-size: 18px; }
  .input-email {
    height: 50px;
    width: 340px; }
  .submit-button {
    height: 50px;
    width: 150px; }
  #policy {
    max-width: 500px; }
  footer {
    max-width: 500px;
    margin: 0 auto; }
    footer .attribution {
      font-size: 12px;
      margin: 0 auto; } }

/*# sourceMappingURL=style.css.map */
